<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="youtube_dl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <youtube_dl.Properties.Settings>
            <setting name="Destination" serializeAs="String">
                <value />
            </setting>
            <setting name="IndexFileType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentVersionYoutubeDL" serializeAs="String">
                <value>2019.04.30</value>
            </setting>
        </youtube_dl.Properties.Settings>
    </userSettings>
</configuration>