<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WPFMETRO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WPFMETRO.Properties.Settings>
            <setting name="TextColor" serializeAs="String">
                <value>#FFF</value>
            </setting>
            <setting name="AccentColor" serializeAs="String">
                <value>#006bb3</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#252525</value>
            </setting>
            <setting name="SelectedIndexAtColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GeneralTextColor" serializeAs="String">
                <value>#FFF</value>
            </setting>
            <setting name="UseCustomLocale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomLocale" serializeAs="String">
                <value />
            </setting>
            <setting name="PrioritizePlaylists" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlertOnFinish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VerboseStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultPath" serializeAs="String">
                <value />
            </setting>
            <setting name="YoutubeDLVersion" serializeAs="String">
                <value>2020.01.15</value>
            </setting>
            <setting name="UseVideoTitle" serializeAs="String">
                <value>True</value>
            </setting>
        </WPFMETRO.Properties.Settings>
    </userSettings>
</configuration>